[Desktop Entry]
Type=Application
Name=gnomeola
Comment=Record, transcribe and search your meetings
Exec=gnomeola-app %U
Icon=org.gnome.Gnomeola
Terminal=false
Categories=Office;Recorder;
Keywords=meeting;transcript;notes;record;granola;
StartupNotify=true
StartupWMClass=gnomeola
DBusActivatable=false
X-GNOME-UsesNotifications=true
Actions=background;

[Desktop Action background]
Name=Start in the Background
Exec=gnomeola-app --background
